Dockerfile
.dockerignore
/artifacts
/.vs
/.git
/eng/**/secrets.ps1
/**/*.tsbuildinfo
/GameDocumentEngine.Ui/node_modules
/GameDocumentEngine.Ui/dist
/GameDocumentEngine.Ui/dev-dist
/GameDocumentEngine.Ui.Api/dist
/GameDocumentEngine.Ui.Api/src/api
/GameDocumentEngine.Ui/src/doc-types/*/schema.ts
/GameDocumentEngine.Server/obj
/GameDocumentEngine.Server/wwwroot
/GameDocumentEngine.Server/setup.ps1

**/*.user
**/.env
