[submodule "GameDocumentEngine.Ui/src/doc-types/mouseguard-assets"]
	path = GameDocumentEngine.Ui/src/doc-types/mouseguard-assets
	url = https://github.com/mdekrey/foundryvtt-mouseguard-svelte.git
	branch = assets-only
