
.circularNumber {
	composes: flex flex-row gap-4 from global;
}
.circularNumber .input {
	height: theme(spacing.10);
	width: theme(spacing.10);
	border-radius: 100%;
	text-align: center;
	line-height: 1;
}

.circularNumber.main .label {
	@apply sr-only;
}
.circularNumber.main .input {
	height: theme(spacing.12);
	width: theme(spacing.12);
	font-size: theme(fontSize.lg);
	line-height: 1;
	outline: 6px solid theme(colors.slate.200);
	outline-offset: -7px;
	padding: theme(spacing.1);
}

:global(.dark) .circularNumber.main .input {
	outline-color: theme(colors.slate.800);
}

.textRight .label {
	order: 1;
}
