.container {
	composes: grid gap-x-4 from global;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto 1fr;
	grid-template-areas: 'icon title base' 'icon hint base' 'content content content';
}

.icon {
	grid-area: icon;
}

.title {
	grid-area: title;
}

.hint {
	grid-area: hint;
}

.base {
	grid-area: base;
}
.contents {
	composes: mt-4 from global;
	grid-area: content;
}