
.might .stop1 { stop-color: rgb(240, 89, 74); }
.might .stop2 { stop-color: rgb(237, 37, 41); }
.deftness .stop1 { stop-color: rgb(246, 146, 34); }
.deftness .stop2 { stop-color: rgb(241, 90, 40); }
.grit .stop1 { stop-color: rgb(138, 197, 66); }
.grit .stop2 { stop-color: rgb(61, 181, 75); }
.insight .stop1 { stop-color: rgb(39, 167, 223); }
.insight .stop2 { stop-color: rgb(9, 114, 186); }
.aura .stop1 { stop-color: rgb(129, 92, 167); }
.aura .stop2 { stop-color: rgb(103, 50, 144); }
