.editorJsContainer :global(.ce-block__content), .editorJsContainer :global(.ce-toolbar__content) {
	max-width: calc(100% - 65px);
	margin-left: 65px;
}
.editorJsContainer :global .codex-editor--narrow .ce-block__content, .editorJsContainer :global .codex-editor--narrow .ce-block__content {
	max-width: calc(100%);
	margin-left: 0px;
}

.editorJsContainer h1,
.editorJsContainer h2,
.editorJsContainer h3,
.editorJsContainer h4,
.editorJsContainer h5,
.editorJsContainer h6 {
	@apply font-bold;
}
.editorJsContainer h1 {
	@apply text-5xl;
}
.editorJsContainer h2 {
	@apply text-4xl;
}
.editorJsContainer h3 {
	@apply text-3xl;
}
.editorJsContainer h4 {
	@apply text-2xl;
}
.editorJsContainer h5 {
	@apply text-xl;
}
.editorJsContainer h6 {
	@apply text-lg;
}