.layout {
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: 'label label' 'rating passfail';
	@apply grid md:flex md:flex-row gap-y-1 gap-x-4 md:gap-y-2;
}

.label {
	grid-area: label;
	@apply group-focus-within:font-bold;
}

.rating {
	grid-area: rating;
}

.passfail {
	@apply justify-self-start;
	grid-area: passfail;
}
